*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
.cache
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*

.idea

# Test artifacts
.coverage
.tox/
API_Documentation.md
