language: python
python:
    - "3.5"
    - "3.6"
    - "3.7"
    - "3.8"
env:
    - TORNADO_VERSION=6.0.3
install:
    - "pip install -r requirements.txt"
    - "pip install tornado==$TORNADO_VERSION"
    - "pip install 'pytest'"
    - "pip install 'pytest-cov'"
    - "pip install coverage"
    - "pip install coveralls"
    - "pip install mock"
script:
    coverage run --source=tornado_json setup.py test
after_success:
    coveralls --verbose
