/* ===============================
 * Touchpoint Copyright 2013.
 * @author: Ryan Wong
 * @file: signup.css
 * Contains styles for the signup process.
 * =============================== */

/* ===== HEADER BAR + LOGO ===== */
.headerBar {
	margin: 0 auto;
	position: fixed;
	top:0px;
	width: 100%;
	height: 50px;
	background-color: #EFEDDF;
	padding-left: 10px;
	padding right: 10px;
	padding-top: 5px;

	-webkit-box-shadow: 0px 2px 4px rgba(50, 50, 50, 0.38);
	-moz-box-shadow:    0px 2px 4px rgba(50, 50, 50, 0.38);
	box-shadow:         0px 2px 4px rgba(50, 50, 50, 0.38);
}

.signinArea{
	float: right;
	padding-right: 20px;
}

.logo {
	margin: 5px;
	float: left;
	text-align: center;
}

a.logo{
	padding: 0px;
	margin:0px;
}
a.logo:hover{
	text-decoration: none;
}
/* ============================ */

/* ====== NATIVE SIGNIN ======= */
.emailaddress {
	margin: 5px 10px 5px 5px !important;
	height: 25px;
	float: left;
	border: 1px solid #51CD7B;
	background-color: #ffffff; 
	width: 130px;
	font-size: 11px;
	padding: 3px 12px;
	font-weight: 300;
	color: #9B9B9B; 
	vertical-align: middle;
	border-radius: 5px;
}

button.loginButton {
	height: 30px;
	width: 70px;
	margin: 5px 10px 5px 5px;
	float: left;
	font-size: 11px;
	line-height: 19px;
	padding: 0;
}

button.signupButton {
	position: absolute; /*within relative container*/
	margin: auto;
	left: 0; right: 0;
	width: 150px;
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 3px 0px;
	font-size: 13px;
	line-height: 22px; 
	letter-spacing: 2px; 
	font-weight: bold;
}

button.signupNextButton {
	/* position from button#id */
	width: 80px;
	padding: 3px 0px;
	font-size: 13px;
	line-height: 22px;
}

button#next, button#prev {
	position: absolute;
	margin: auto;
	left: 0; right: 0;
}

button#prevNext {
	float: left !important;
	margin-right: 5px;
	margin-left: 5px;
}
/* ============================ */

/* ======== BACKGROUND ======== */
@media (max-width: 1561px){ 
	img.background{
		left: 50%;
		margin-left: -780px;
		bottom:0px;
		min-width: 1561px;
		min-height: 966px;
		width: 100%;
		vertical-align: bottom;
	}
}
img.background{
	z-index: -1;
	height:100%;
	position: fixed;
	opacity: .7;
	width: 100%;
}
/* ============================ */

/* ====== NATIVE SIGNUP ======= */
p.signupCaption {
	font-family: Georgia;
	font-size: 22px;
	font-weight: 500;
	padding: 0px;
	text-align: center;}
	
p.signupSubCaption {
	font-family: Georgia;
	font-size: 14px;
	font-weight: 300px;
	padding: 0px;
	text-align: center;}

.signupArea {
	margin: 0 auto;
	width: 287px;
	padding: 20px;
	z-index: 10;
}

.firstLastName{
	width: 250px;
	padding: 0px;
}

input.signupForm {
	z-index: 10;
}

input#firstName, input#lastName {
	width: 121px;
	float: left;
	margin-left: 2px;
	margin-right: 2px;
}
input#ubcEmail, input#password1, input#password2 {
	width: 250px;
}
/* ============================ */

/* ===== FACEBOOK SIGNIN ====== */
button.facebook {
	background: #6e86bd;
	background: -moz-linear-gradient(top, #6e86bd 0%, #6680b9 100%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6e86bd), to(#6680b9));
	
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	
	box-shadow: inset 0 1px 0 0 #abbbdf;
	-moz-box-shadow: inset 0 1px 0 0 #abbbdf;
	-webkit-box-shadow: inset 0 1px 0 0 #abbbdf;
	
	border: 1px solid #3f5b98;
	color: #fff;
	font-size: 1.6em;
	font-weight: bold;
	line-height: 1;
	padding: 8px 0 7px 0;
	text-align: center;
	text-shadow: 0 -1px 1px #344d80;
	width: 250px;
	margin: 10px 0px;
}
 
button.facebook:hover {
	background: #546a99;
	background: -moz-linear-gradient(top, #546a99 0%, #546a99 100%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#546a99), to(#546a99));
	
	box-shadow: inset 0 1px 0 0 #98a8d3;
	-moz-box-shadow: inset 0 1px 0 0 #98a8d3;
	-webkit-box-shadow: inset 0 1px 0 0 #98a8d3;
	
	text-shadow: 0 -1px 1px #283960;
	color: #fff;
	cursor: pointer;
}
 
button.facebook:active {
	border: 1px solid #283960;
	box-shadow: inset 0 0 4px 2px #51658b, 0 0 1px 0 #eee;
	-moz-box-shadow: inset 0 0 4px 2px #51658b, 0 0 1px 0 #eee;
	-webkit-box-shadow: inset 0 0 4px 2px #51658b, 0 0 1px 0 #eee;
}
/* ============================ */

/* ======= SCHOOL INFO ======== */
.signupDetailBG{
	width: 450px;
	height: 60%;
	margin: auto;
	left: 0; right: 0; bottom: 0; top: 0;
	background: #EFEDDF;
	border-radius: 5px;
	border: 3px solid #F15E52;
	z-index: 10;
	position: absolute;
	opacity: 0.9;
}
.signupDetailsOutter{
	position: absolute;
	width: 50%;
	height: 50%;
	margin: auto;
	left: 0; right: 0; bottom: 0; top: 0;
	z-index: 100;
	padding: 20px;
}

.signupDetailsInner{
	width: 250px;
	margin: 0 auto;
	padding-top: 25px;
	padding-bottom: 25px;
	z-index: 110;
}

select.schoolInfo, 
input.schoolInfo {
	width: 250px;
}

div.prevNext {
	margin: auto;
	left: 0; right: 0;
	width: 180px;
}
/* ============================ */

/* ======= EXPERIENCE ========= */
div#signupExperience {
	width: 280px !important;
	height: 150px !important;
}

input.companyInput {
	float: left;
}
input[type="text"].companyInput {
	float: left !important;
	width: 240px;
}
input[type="checkbox"].companyCheck {
	float: left !important;
	padding-top: 3px;
	padding-bottom: 3px;
	height: 20px;
	width: 20px;
	display:none;	
}

label.companyCheck{
	margin: 9px 15px 0px 0px;
	float: left;
	font-size: 18px;
}

label.companyCheck:before{ 
    width: 18px;  
    height: 18px;  
    background-color: #ffffff;
    border-radius: 3px;
	border: 2px solid #51CD7B;
} 

/* ============================ */

/* ========== SKILLS ========== */
div#signupSkills {
	width: 420px !important;
	height: 150px !important;
}

div.checkboxHeight {
	height: 32px !important;
}

input[type="checkbox"].skillCheck {
	float: left !important;
	padding-top: 3px;
	padding-bottom: 3px;
	height: 18px;
	width: 18px;	
}

label.skillName {
	float: left;
	font: Open Sans, Arial;
	font-size: 14px;
	font-weight: 400;
	vertical-align: top;
}
label.skillName:before{
	width: 18px;
	height: 18px;
	background-color: #ffffff;
	border-radius: 3px;
	border: 2px solid #51CD7B;
	line-height: 22px;
}
/* ============================ */