/* ===============================
 * Touchpoint Copyright 2013.
 * @author: Ryan Wong
 * @file: style.css
 * Contains general styles ie. body, h1, p, etc.
 * =============================== */
html, body {
	font-family: Open Sans, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	margin-top: 0px;
	overflow-x: hidden !important;
    position: relative !important; 
}
h1 { 
	font-family: Georgia;
	font-weight: 500;
	font-size: 22px;
	line-height: 22px; 
	color: #4A4A4A;
	padding: 0px; 
	text-align: center;}

h1.orange{
	color: #F15E52;
	margin: 0 auto;
	padding: 3px;}

h2 { 
	font-family: Georgia;
    font-weight: 600; 
	font-size: 17px; 
	color: #4A4A4A; 
	line-height: 20px;}

h3 {
    font-weight: 400; 
	color: #9B9B9B; 
	font-family: Open Sans;
	font-size: 16px;
	line-height: 25px;}

h4 {
    font-weight: 400; 
	font-size: 15px; 
	color: #4A4A4A; 
	line-height: 23px;}

h5 {
	font-family: Georgia;
	font-weight:400;
	font-size: 15px;
	color:#4A4A4A;
	line-height: 15px;
	margin-top: 10px;
	margin-bottom: 10px;}

p { font-size: 13px; }

@media (min-width: 900px){
	.contain900px {
		margin: 0 auto;
		width: 900px;
	}
}

.spacer50 {
	height: 50px;
}
.spacer100 {
	height: 100px;
}

.viewport {
	width: 100%;
/* 	height: 100%; from jquery */
	position: relative;
}

/* ============================ */

/* ========== Dropdown, Text Fields - Green border theme ========== */
select, input[type="text"], input[type="password"] {
	border: 2px solid #51CD7B;
	background-color: #ffffff; 
	font-size: 13px;
	padding: 3px 12px;
	font-weight: 300;
	color: #000000; 
	vertical-align: middle;
	border-radius: 5px;
	opacity: 1.0;
	margin: 5px 0px;
	height: 30px;
	font-family: Open Sans;
	display: block;

	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #9B9B9B;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #9B9B9B;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #9B9B9B;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #9B9B9B;
}

select {
	text-indent: 0.01px; /* hack to remove firefox dropdown arrow */
	text-overflow: ''; /* hack to remove firefox dropdown arrow */
}

select {
	background: url("http://i.imgur.com/b060GpA.png?2?3374") right; /* dropdown arrow */
	background-size:  auto 25%;
	background-repeat: no-repeat;
	background-color: #ffffff;
}
/* ============================ */

/* ========== Checkbox - Green border theme ========== */
label {
	display: inline-block;
	cursor: pointer;
	/* specify margins and position in specific id/class */
}

input[type=checkbox] {
	display: none;
}
label:before {  
    content: "";  
    display: inline-block;  
}
input[type=checkbox]:checked + label:before {  
    content: "\2713";  
    font-size: 18px;  
    color: #000;  
    text-align: center;  
    vertical-align: top;
    line-height: 1;  
} 
/* ============================ */

/* ========== Green Button ========== */
button.greenButton {
	font-family: Open Sans;
	font-weight: 400;
	color: #ffffff;
	background-color: #51CD7B;
	border: 3px solid #51CD7B;
	border-radius: 5px; 
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	
	cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	 
	transition: all .35s ease-in-out; 
		-moz-transition: all .35s ease-in-out; 
		-webkit-transition: all .35s ease-in-out;
}

button.greenButton:hover {
	background-color: #4A4A4A;
	border: 3px solid #4A4A4A;
}

button.greenButton:active {
	background-color: #4A4A4A;
}