<!-- =============================
 * Touchpoint Copyright 2013.
 * @author: Ryan Wong
 * @file: homepublic.css
 * Home-public page with signup/signin.
 * =============================== -->

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Touchpoint</title>
	<link rel="stylesheet" type="text/css" href="{{ static_url("signup.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ static_url("bootstrap.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ static_url("style.css") }}">
	<script type="text/javascript" src="{{ static_url("signup.js") }}"></script>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> 
</head>

<body>
	<div class="headerBar">
		<div class="contain900px">
			<div class="logo">
				<a class="logo" href="/"><h1 class="orange">touch&middot;point</h1></a>
			</div>
			<div class="signinArea">
				<input type="text" class="emailaddress" placeholder="email">
				<input type="password" class="emailaddress" placeholder="password">
				<button class="greenButton loginButton">LOG IN</button>
			</div>
		</div>
	</div>
	
	<div class="background">
		<img class="background" src="http://i.imgur.com/5Uz0vmKh.jpg">
	</div>
	<div class="spacer100"></div>
	<p class="signupCaption">New to Touchpoint? Join us.</p>
	<div class="signupArea">
		<div class="firstLastName">
			<input type="text" id="firstName" class="signupForm" placeholder="first name">
			<input type="text" id="lastName" class="signupForm" placeholder="last name">
		</div>
		<input type="text" id="ubcEmail" class="signupForm" placeholder="ubc email">
		<input type="password" id="password1" class="signupForm" placeholder="password">
		<input type="password" id="password2" class="signupForm" placeholder="re-enter password">
		<button class="greenButton signupButton">SIGN UP!</button>	
		<div class="spacer50"></div>
		<p class="signupCaption">or</p>
		<button class="facebook">Login through Facebook</button>
	</div>
</body>
</html>