<!-- =============================
 * Touchpoint Copyright 2013.
 * @author: Ryan Wong
 * @file: signup_part2.html
 * Part 2 of sign up process (job experience)
 * =============================== -->

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Touchpoint</title>
	<link rel="stylesheet" type="text/css" href="{{ static_url("signup.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ static_url("bootstrap.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ static_url("style.css") }}">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="{{ static_url("signup.js") }}"></script>
	

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> 
</head>

<body>
	<div class="background">
		<img class="background" src="http://i.imgur.com/5Uz0vmKh.jpg">
	</div>

	<div class="headerBar">
		<div class="contain900px">
			<div class="logo">
				<a class="logo" href="/"><h1 class="orange">touch&middot;point</h1></a>
			</div>
		</div>
	</div>
	
	<div class="viewport">
		<div class="signupDetailBG"></div>
			<div class="signupDetailsOutter">
				<p class="signupCaption">Tell us your experience.</p>
				<p class="signupSubCaption">(check the box if you got an offer from that company)</p>
				<!-- FIXME rwong: add a "why?" hover bubble to explain the purpose of this -->
				<div id="signupExperience" class="signupDetailsInner">
					<input id="checker1" class="companyCheck" type="checkbox">
					<label class="companyCheck" for="checker1"></label>

					<input type="text" class="companyInput" placeholder="Company">

					<input id="checker2" class="companyCheck" type="checkbox">
					<label class="companyCheck" for="checker2"></label>
					
					<input type="text" class="companyInput" placeholder="Company">
				</div>
				<div class="prevNext">
					<button id="prevNext" class="greenButton signupNextButton">Prev</button>
					<button id="prevNext" class="greenButton signupNextButton">Next</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>