<!-- =============================
 * Touchpoint Copyright 2013.
 * @author: Ryan Wong
 * @file: signup_part1.html
 * Part 1 of sign up process (school info)
 * =============================== -->

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Touchpoint</title>
	<link rel="stylesheet" type="text/css" href="{{ static_url("signup.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ static_url("bootstrap.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ static_url("style.css") }}">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="{{ static_url("signup.js") }}"></script>
	

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> 
</head>

<body>
	<div class="background">
		<img class="background" src="http://i.imgur.com/5Uz0vmKh.jpg">
	</div>

	<div class="headerBar">
		<div class="contain900px">
			<div class="logo">
				<a class="logo" href="/"><h1 class="orange">touch&middot;point</h1></a>
			</div>
		</div>
	</div>
	
	<div class="viewport">
		<div class="signupDetailBG"></div>
			<div class="signupDetailsOutter">
				<p class="signupCaption">What are you studying in school?</p>
				<div class="signupDetailsInner">
					<select class="schoolInfo">
						<option>Program</option>
						<option>Undergraduate (Bachelor's)</option>
						<option>Graduate (Master's)</option>
					</select>

					<input type="text" class="schoolInfo" placeholder="Year">

					<select class="schoolInfo">
						<option>Department</option>
						<option>Computer Science</option>
						<option>Electrical &amp; Computer Engineering</option>
					</select>

					<select class="schoolInfo">
						<option>Specialization</option>
						<optgroup label="Electrical Engineering">
							<option>General Electrical</option>
							<option>Energy Systems Option</option>
							<option>Biomedical Option</option>
							<option>Nanosystems</option>
						</optgroup>
						<optgroup label="ComputerEngineering">
							<option>General Computer</option>
							<option>Software Option</option>
						</optgroup>
					</select>
				</div>
				<button id="next" class="greenButton signupNextButton">Next</button>
			</div>
		</div>
	</div>

</body>
</html>